/* 导航栏样式 */
.layui-layout-admin .layui-header .layui-logo{
	font-size:19px;
	font-weight: bold;
	overflow: hidden;
	-webkit-transition: left 0.3s ease, width 0.3s ease;
	-o-transition: left 0.3s ease, width 0.3s ease;
	transition: left 0.3s ease, width 0.3s ease;
}
.layui-layout-admin .layui-header .side-toggle{
	left: 220px;
	display: block;
	padding: 0 25px;
	line-height: 60px;
	/*color: #ffffff;*/
	color: rgba(255,255,255,.7);
	-webkit-transition: left 0.3s ease, width 0.3s ease;
	-o-transition: left 0.3s ease, width 0.3s ease;
	transition: left 0.3s ease, width 0.3s ease;
}
.layui-layout-admin .layui-header .side-toggle:hover{
	/*background-color: #00635a;*/
	background-color: #333;
	/*#009688*/
	color:rgba(255,255,255,1);
}

.layui-layout-admin .layui-header .layui-nav .layui-nav-child dd .layui-this a{
	background-color: #009688 ;
}

.layui-layout-admin .layui-header .layui-nav-child .fa{
	margin-right: 10px;
}

.layui-nav .layui-nav-child dd.layui-this a, .layui-nav-child dd.layui-this {
	background-color:#009688 ;
}


.layui-layout-admin .layui-header .layui-icon-logout{
	margin-right: 5px;
}

.layui-layout-admin .layui-header .layui-nav .layui-this:after, .layui-nav-bar, .layui-nav-tree .layui-nav-itemed:after{
	background-color:#009688;
}




/*个人中心页面*/
.user-info-page .user-info{
	position: absolute;
	left: 0;
	/*width: 180px;*/
	height: 380px;
	border-right: 1px solid #cccccc;
	padding:0 20px;
}
.user-info-page .user-info .user-avatar-box{
	position: relative;
	margin: 0 auto;
	width: 100px;
	height: 100px;
	border-radius: 50%;
	overflow: hidden;
	border: 4px solid #d9dde1;
	cursor: pointer;
}
.user-info-page .user-info .user-avatar-box .user-avatar{
	width: 100%;
	height: 100%;
}

.user-info-page .user-info .user-avatar-box .edit-avatar{
	position: absolute;
	left: 0;
	bottom: -34px;
	width: 100%;
	height: 34px;
	line-height: 34px;
	color: #ffffff;
	text-align: center;
	background-color: rgba(0,0,0,0.6);
	transition: bottom 0.2s;
}
.user-info-page .user-info .user-avatar-box:hover .edit-avatar{
	bottom: 0;
}
.user-info-page .user-info .detail-info{
	margin-top: 18px;
	line-height: 2;
	font-size: 14px;
}
.user-info-page .user-info .detail-info li{
	padding-left: 12px;
	overflow: hidden;
	text-overflow:ellipsis;
	white-space: nowrap;
	cursor: default;
}
.user-info-page .user-edit{
	position: absolute;
	left: 220px;
	right: 0;
	height: 380px;
}

.user-info-page .user-edit .user-edit-main{
	opacity: 0.7;
}
.user-info-page .canvas-panel{
	display: none;
	position: absolute;
	top: 0;
	width: 100%;
	height: 100%;
	cursor: move;
	overflow: hidden;
	background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAQAQMAAAAlPW0iAAAAA3NCSVQICAjb4U/gAAAABlBMVEXMzMz////TjRV2AAAACXBIWXMAAArrAAAK6wGCiw1aAAAAHHRFWHRTb2Z0d2FyZQBBZG9iZSBGaXJld29ya3MgQ1M26LyyjAAAABFJREFUCJlj+M/AgBVhF/0PAH6/D/HkDxOGAAAAAElFTkSuQmCC);
}
.user-info-page .canvas-bg{
	position: absolute;
}
.user-info-page .canvas-shade{
	position: absolute;
	width: 100%;
	height: 100%;
	background-color: rgba(0,0,0,0.3);
}
.user-info-page .canvas-crop{
	position: absolute;
	top: 50%;
	left: 50%;
	width: 280px;
	height: 280px;
	background-color: #FFFFFF;
	border: 1px solid rgb(40, 121, 255);
	-webkit-transform: translate(-141px, -141px);
	transform: translate(-141px,-141px);
}
.user-info-page .canvas-group{
	position: absolute;
	right: 14px;
	bottom: 10px;
	display: none;
}
.user-info-page .canvas-group .layui-btn-primary:hover{
	opacity: 1;
}


/* 侧边栏 */
.layui-layout-admin .layui-side{
	top: 50px;
	width: 220px;
	background-color: #222d32!important;
	-webkit-transition: left 0.3s ease, width 0.3s ease;
	-o-transition: left 0.3s ease, width 0.3s ease;
	transition: left 0.3s ease, width 0.3s ease;
}
.layui-layout-admin .layui-side .layui-side-scroll{
	width: 240px;
}
.layui-layout-admin .layui-side .layui-nav-tree{
	width: 220px;
}
.layui-layout-admin .layui-side .layui-side-user{
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	padding: 20px;
	margin-top: 10px;
	margin-bottom: 10px;
	color: #fff;
}
.layui-layout-admin .layui-side .layui-side-user-avatar{
	cursor: pointer;
	-webkit-box-flex: 0;
	-ms-flex: 0 0 auto;
	flex: 0 0 auto;
	margin-right: 15px;
	width: 48px;
	border-radius: 50%;
	-webkit-transition: all 0.2s;
	-o-transition: all 0.2s;
	transition: all 0.2s;
}
.layui-layout-admin .layui-side .layui-side-user-name{
	font-size: 16px;
}
.layui-layout-admin .layui-side .layui-side-user-designation{
	margin-top: 2px;
}
.layui-layout-admin .layui-side .layui-side-user-designation:before{
	content:"";
	display:inline-block;
	width: 10px;
	height: 10px;
	background-color: #5FB878;
	border-radius: 50%;
	margin-right: 2px;
}
.layui-layout-admin .layui-side .layui-nav{
	background-color: #222d32;
}
.layui-layout-admin .layui-side a{
	font-size: 15px;
}
.layui-layout-admin .layui-side a .layui-icon,
.layui-layout-admin .layui-side a .fa{
	display: inline-block;
	font-size: 20px;
	width: 24px;
	padding-right: 10px;
}
.layui-layout-admin .layui-side a .fa{
	font-size: 16px;
}
.layui-layout-admin .layui-side .layui-nav-item>a:hover{
	background-color: #222d32;
}
.layui-layout-admin .layui-side .layui-nav-child{
	padding: 4px 0;
}
.layui-layout-admin .layui-side .layui-nav-child a{
	padding-left: 44px;
}
.layui-layout-admin .layui-side .layui-nav-child .layui-nav-child a{
	padding-left: 64px;
}



/* 主体区域 */
.layui-layout-admin .layui-body{
	top: 50px;
	left: 220px;
	margin: 0;
	bottom: 0;
	background-color: #eeeeee;
	-webkit-transition: left 0.3s ease, width 0.3s ease;
	-o-transition: left 0.3s ease, width 0.3s ease;
	transition: left 0.3s ease, width 0.3s ease;
}
/*标签Tab栏*/
.layui-layout-admin .layui-body .layui-tab-title{
	z-index: 999;
	background-color: #ffffff;
	height:50px;
	-webkit-box-shadow: 0 1px 2px 0 rgba(0,0,0,.05);
	box-shadow: 0 1px 2px 0 rgba(0,0,0,.05);
}
.layui-layout-admin .layui-body .layui-tab-title li{
	height:50px;
	line-height: 60px;
	border-right: 1px solid #f6f6f6;
}
.layui-layout-admin .layui-body .layui-tab-title li:hover{
	height:50px;
	background-color: #f8f8f8;
}
.layui-layout-admin .layui-body .layui-tab-title .layui-this{
	color: #009688;
	background-color: #f8f8f8;
}
.layui-layout-admin .layui-body .layui-tab-title .layui-this:after{
	height:51px;
	border-bottom: 2px solid #009688;
}
.layui-layout-admin .layui-body .layui-tab-content{
	z-index: 998;
	padding:0;
}




/* 其他 */
.layui-layout-admin .layui-header .layui-logo-mini,
.layui-layout-admin .side-toggle .layui-icon-spread-left,
 input[type="checkbox"]{
	display: none;
}




/* 收起侧边栏 */
@media (min-width: 767px) {
	.layui-layout-admin.layui-side-shrink .layui-logo,
	.layui-layout-admin.layui-side-shrink .layui-side {
		width: 50px;
	}
	.layui-layout-admin.layui-side-shrink .layui-side:hover{
		width: 220px;
	}
	.layui-layout-admin.layui-side-shrink .layui-side:hover .layui-nav-title{
		display: inline;
	}
	.layui-layout-admin.layui-side-shrink .layui-header .side-toggle,
	.layui-layout-admin.layui-side-shrink .layui-body {
		left: 50px;
	}
	.layui-layout-admin.layui-side-shrink .layui-side-user {
		padding: 10px;
	}
	.layui-layout-admin.layui-side-shrink .layui-side-user .layui-side-user-avatar {
		width: 30px;
	}
	.layui-layout-admin.layui-side-shrink .layui-side .layui-nav .layui-nav-item a {
		padding: 0 17px;
	}
	.layui-layout-admin.layui-side-shrink .layui-logo-mini,
	.layui-layout-admin.layui-side-shrink .side-toggle .layui-icon-spread-left {
		display: inline;
	}
	.layui-layout-admin.layui-side-shrink .layui-logo-lg,
	.layui-layout-admin.layui-side-shrink .layui-side .layui-nav-title,
	.layui-layout-admin.layui-side-shrink .layui-side .layui-nav-more,
	.layui-layout-admin.layui-side-shrink .layui-side .layui-nav-itemed > .layui-nav-child,
	.layui-layout-admin.layui-side-shrink .layui-side-user-name,
	.layui-layout-admin.layui-side-shrink .layui-side-user-designation,
	.layui-layout-admin.layui-side-shrink .side-toggle .layui-icon-shrink-right {
		display: none;
	}
}



/* 自适应小屏幕 */
@media (max-width: 767px){
	.layui-layout-admin .layui-side{
		left: -220px;
	}
	.layui-layout-admin .layui-body,
	.layui-layout-admin .layui-header .side-toggle{
		left: 0;
	}
	.layui-layout-admin .layui-header .layui-logo{
		display: none;
	}
	.layui-layout-admin.layui-side-shrink .layui-side{
		left: 0;
	}
}



/* 页面通用样式 */
.inshare-layout-page{
	padding: 18px;
}
.inshare-layout-page .layui-card-header{
	border-radius: 0;
	border-top: 4px solid #d2d2d2;
	border-bottom: 1px solid #e2e2e2;
}
.inshare-layout-page .layui-card-header .refresh-btn{
	position: absolute;
	top:8px;
	right: 8px;
	width: 25px;
	height: 25px;
	line-height: 26px;
	cursor: pointer;
	font-weight: bold;
	text-align: center;
	border-radius: 4px;
}
.inshare-layout-page .layui-card-header .refresh-btn:hover{
	background-color: #cccccc;
}

/*下拉列表*/
.inshare-layout-page .layui-form-select dl dd.layui-this{
	background-color: #009688;
}

/*表格*/
.inshare-layout-page .inshare-table-wrap{
	overflow-y: auto;
}
.inshare-layout-page .inshare-table-wrap .layui-table-fixed-r{
	border-width: 0px;
	box-shadow: none;
}
.inshare-layout-page .inshare-table-wrap .layui-table-fixed-r th{
	background-color: #f2f2f2;
}
.inshare-layout-page .layui-table{
	color: #000000;
	margin: 5px 0;
}
.inshare-layout-page .layui-table a{
	color: #009688;
}
.inshare-layout-page .layui-table a:hover {
	color: #004a43;
	text-decoration: underline;
}
.inshare-layout-page  .layui-table th,
.inshare-layout-page  .layui-table td{
	padding: 12px;
	border: 1px solid #dee2e6;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}
.inshare-layout-page .layui-table th{
	vertical-align: bottom;
	border-bottom: 2px solid #dee2e6;
	font-weight: bold;
	background-color: #ffffff;
}
.inshare-layout-page  .layui-table .sortable{
	cursor: pointer;
	padding-right: 18px;
	background:#FFFFFF url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABMAAAATCAQAAADYWf5HAAAAkElEQVQoz7X QMQ5AQBCF4dWQSJxC5wwax1Cq1e7BAdxD5SL+Tq/QCM1oNiJidwox0355mXnG/DrEtIQ6azioNZQxI0ykPhTQIwhCR+BmBYtlK7kLJYwWCcJA9M4qdrZrd8pPjZWPtOqdRQy320YSV17OatFC4euts6z39GYMKRPCTKY9UnPQ6P+GtMRfGtPnBCiqhAeJPmkqAAAAAElFTkSuQmCC") no-repeat right;
}
.inshare-layout-page .layui-table .sortable.asc{
	background-image: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABMAAAATCAYAAAByUDbMAAAAZ0lEQVQ4y2NgGLKgquEuFxBPAGI2ahhWCsS/gDibUoO0gPgxEP8H4ttArEyuQYxAPBdqEAxPBImTY5gjEL9DM+wTENuQahAvEO9DMwiGdwAxOymGJQLxTyD+jgWDxCMZRsEoGAVoAADeemwtPcZI2wAAAABJRU5ErkJggg==");
}
.inshare-layout-page .layui-table .sortable.desc{
	background-image: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABMAAAATCAYAAAByUDbMAAAAZUlEQVQ4y2NgGAWjYBSggaqGu5FA/BOIv2PBIPFEUgxjB+IdQPwfC94HxLykus4GiD+hGfQOiB3J8SojEE9EM2wuSJzcsFMG4ttQgx4DsRalkZENxL+AuJQaMcsGxBOAmGvopk8AVz1sLZgg0bsAAAAASUVORK5CYII=");
}


/**輸入框**/

.inshare-layout-page .layui-input:hover, .layui-textarea:hover {
	border-color: #009688 !important;
}

/*复选框*/
.layui-form-checkbox[lay-skin=primary]:hover i{
	border-color: #009688;
}
.layui-form-checked[lay-skin=primary] i{
	border-color: #009688;
	background-color: #009688;
}
.layui-form-onswitch {
	border-color: #009688;
	background-color: #009688 !important;
}

/*分页*/
.inshare-layout-page .page-info{
	padding-top: 12px;
	vertical-align: center;
}
.inshare-layout-page .page-number{
	display: inline-block;
	padding: 3px;
	padding-top: 1px;
	border-radius: 2px;
	cursor: pointer;
	border: 1px solid #e2e2e2;
	height: 24px;
	margin-left: 6px;
}

/*組按鈕*/

.layui-btn-group .layui-nav{
	position: relative;
	display: inline-block;
	vertical-align: middle;
}

/*.btn-group{*/
/*	position: relative;*/
/*	display: inline-block;*/
/*	vertical-align: middle;*/
/*}*/
/*.caret {*/
/*	display: inline-block;*/
/*	width: 0;*/
/*	height: 0;*/
/*	margin-left: 2px;*/
/*	vertical-align: middle;*/
/*	border-top: 4px dashed;*/
/*	border-top: 4px solid\9;*/
/*	border-right: 4px solid transparent;*/
/*	border-left: 4px solid transparent;*/
/*}*/
/*.btn-group .layui-nav-child{*/
/*	top: initial;*/
/*	left: -20px;*/
/*	right: 0;*/
/*	margin-top: 2px;*/
/*}*/
/*.btn-group .layui-nav-child a{*/
/*	display: block;*/
/*	padding: 0 20px;*/
/*}*/
/*.btn-group .layui-nav-child a:hover {*/
/*	background-color: #f2f2f2;*/
/*	color: #000;*/
/*}*/
/*.btn-group.show .layui-nav-child{*/
/*	display: block;*/
/*}*/



/*添加/编辑页面*/

.inshare-compile{
	padding-top: 20px;
}
/*输入框*/
.inshare-compile .layui-input-inline{
	width: 240px;
}
.inshare-compile .layui-input-inline input:hover,
.inshare-compile .layui-input-block input:hover,
.inshare-compile .layui-input-inline textarea:hover,
.inshare-compile .layui-input-block textarea:hover{
	border-color: #009688!important;
}
/*框后備注*/
.inshare-compile .layui-input-info{
	float: left;
	margin-left: 4px;
	height: 38px;
	line-height: 38px;
	color: #747474;
}

/*文本框*/
.inshare-compile .layui-form-text{
	padding-right: 20px;
}
.inshare-compile .layui-form-text .layui-textarea{
	max-width: 360px;
	min-height: 80px;
}
.inshare-compile .layui-form-text .layui-textarea.textarea-fill{
	max-width: initial;
}

/**底部分隔綫*/
.inshare-compile .inshare-finally{
	border-top: 1px solid #ddd;
	padding: 14px 0 0 0;
	margin: 10px 0px;
}

/**底部按鈕**/
.inshare-compile .inshare-finally .btn-secondary{
	color: #FFF;
	background-color: #737c85;
	border-color: #737c85;
}

/**添加论文**/
.inshare-paper .layui-input-inline{
	width:360px;
}
.inshare-paper .layui-form-label {
	width:120px;
}
/**添加专利**/
.inshare-patent .layui-form-label {
	width:180px;
}

/**添加奖项**/
.inshare-prize .layui-form-label {
	width:100px;
}


/* 详情页面 */
.inshare-detail-page{
	padding: 12px;
}
.inshare-detail-title{
	padding:10px 15px;
	font-weight: bold;
	border: 1px solid #c9ced1;
	border-bottom: none;
}
.inshare-detail-table{
	color: #000000;
	margin: 0 0 12px;
}
.inshare-detail-table th{
	font-weight: bold;
}
.inshare-detail-table th,
.inshare-detail-table td{
	border: 1px solid #c9ced1;
}
